<div class="content">
  <mat-icon matRipple [matRippleCentered]="true"
            class="icon-display content-item"
            (click)="recordOrPlay()">{{this.audioFile ? 'play_circle_fill' : 'mic'}}</mat-icon>
  <div class="break"></div> <!-- break -->
  <mat-progress-bar class="content-item" mode="determinate" value="{{duration}}"></mat-progress-bar>
  <div class="break"></div> <!-- break -->
  <div class="content-item">
    <button mat-raised-button color="secondary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
