<mat-toolbar>
  <img src="./assets/icon/wells-fargo-bank.svg" width="50" alt="Wells Fargo icon"/>
  <div>
    <p style="margin: 0; font-size: 14px;">Teamworks</p>
    <h1 style="margin-top: 0;">Personal Workspace</h1>
  </div>
</mat-toolbar>
<mat-grid-list cols="5" rowHeight="100%">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mat-grid-tile-content imageGrid">
      <img src="../../assets/icon/{{selectedUser.avatar}}" width="100%" alt="Person image"><br><br>
      <div class="blueText">
        Newsfeed<br><br>
        profile<br><br>
        Tasks<br><br>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <div class="mat-grid-tile-content">
      <div style="line-height: 0;">
          <h1 style=" line-height: revert; margin: 3% 0 0; font-size: xx-large ">{{selectedUser.firstName}} {{selectedUser.lastName}}
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>play_circle_filled</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- This needs to call into our service to grab the recorded audio -->
            <button mat-menu-item *ngIf="this.audioFile" (click)="listenName()">
              <mat-icon>play_circle_filled</mat-icon>
              Recorded Pronunciation
            </button>
            <!-- This needs to allow user to choose from a list of available system pronunciations -->
            <button mat-menu-item [matMenuTriggerFor]="voiceMenu">
              <mat-icon>play_circle_filled</mat-icon>
              Available System Pronunciations
              <mat-menu #voiceMenu="matMenu">
                <button mat-menu-item *ngFor="let voice of voices"
                        (click)="speakPreferredPronunciation(selectedUser.firstName, selectedUser.lastName, voice.name)">
                  {{voice.name}} - {{voice.lang}}
                </button>
              </mat-menu>
            </button>
            <!-- This should call our name pronunciation for system default pronunciation -->
            <button mat-menu-item (click)="speakName(selectedUser.firstName, selectedUser.lastName)">
              <mat-icon>play_circle_filled</mat-icon>
              System Default Pronunciation
            </button>
            <button mat-menu-item (click)="openRecordDialog()">
              <mat-icon>mic</mat-icon>
              Record New Pronunciation
            </button>
          </mat-menu>
        </h1>
        <br/>
        <h4>{{selectedUser.title}} | {{selectedUser.department}}</h4>
        <p style="margin-top: 3px">
          <a href="profile.component.html">
            <mat-icon aria-hidden="false"  class="material-icons-outlined" aria-label="edit profile">mode_edit</mat-icon>
            edit</a> your profile</p>
          <p style="line-height: 20px">
            Tell others about yourself and share your areas of expertise by <a href="profile.component.html">editing your profile</a>.
          </p>
          <p style="line-height: 40px">
            Contact Information&nbsp;&emsp;<span class="blueText">Business Title/Organization&nbsp;&emsp;Professional</span><br>
            Legal Name:&nbsp;&emsp;{{selectedUser.firstName}} {{selectedUser.lastName}}<br>
            MAC:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{selectedUser.mac}}<br>
            Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{selectedUser.address}}<br>
            User Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{selectedUser.id}}<br>
            Center:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{selectedUser.center}}
          </p>

      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mat-grid-tile-content">
      <mat-card class="lastGrid" >
        <mat-card-header>
          <mat-card-title style="background-color: #696b6e; color: #FFFFFF; padding: 2%">Organizational Outline</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card2">
          <ul>
            <li *ngFor="let userInfo of user"><a (click)="userSelected(userInfo.firstName)"
                                                 class="blueText">{{userInfo.firstName}} {{userInfo.lastName}}</a><br> {{userInfo.title}}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>



