<mat-toolbar>
  <img src="./assets/icon/wells-fargo-bank.svg" width="50" alt="Wells Fargo icon"/>
  <div>
    <p style="margin: 0; font-size: 14px;">Teamworks</p>
    <h1 style="margin-top: 0;">Personal Workspace</h1>
  </div>
</mat-toolbar>
<mat-grid-list cols="5" rowHeight="100%">
  <!--  <mat-grid-tile-->
  <!--    *ngFor="let tile of tiles"-->
  <!--    [colspan]="tile.cols"-->
  <!--    [rowspan]="tile.rows"-->
  <!--    [style.background]="tile.color">-->
  <!--    {{tile.text}}-->
  <!--  </mat-grid-tile>-->
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mat-grid-tile-content imageGrid">
      <img src="./assets/icon/download.png" alt="Person image"><br><br>
      <div class="blueText">
        Newsfeed<br><br>
        profile<br><br>
        Tasks<br><br>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile   [colspan]="3" [rowspan]="1" >
    <div class="mat-grid-tile-content">
      <div style="line-height: 0;">
        <h1 style=" line-height: revert; margin-top: 3%; font-size: xx-large">{{firstName}} {{lastName}}</h1><br/>
        <h4>{{title}} | {{department}}</h4>
        <p style="margin-top: 3px">
          <a href="profile.component.html">
            <mat-icon aria-hidden="false"  class="material-icons-outlined" aria-label="edit profile">mode_edit</mat-icon>
            edit</a> your profile</p>
          <p style="line-height: 20px">
            Tell others about yourself and share your areas of expertise by <a href="profile.component.html">editing your profile</a>.
          </p>
          <p style="line-height: 40px">
            Contact Information&nbsp;&emsp;<span class="blueText">Business Title/Organization&nbsp;&emsp;Professional</span><br>
            Legal Name:&nbsp;&nbsp;&emsp;{{firstName}} {{lastName}}<br>
            MAC:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{mac}}<br>
            Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{address}}<br>
            User Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{id}}<br>
            Center:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;{{center}}
          </p>

      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mat-grid-tile-content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Organizational Outline</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>list of names...</li>
            <li>replace with array of names and titles</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>



